imageio==2.8.0
lungmask==0.2.8
streamlit==0.77.0
pandas==1.0.5
torch==1.5.1
opencv_python==4.5.1.48
keras_retinanet==0.5.1
numpy==1.19.3
Keras==2.4.3
matplotlib==3.3.2
Pillow==8.1.2
SimpleITK==2.0.2
torchvision==0.6.1
